.circle{
    background-color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display:inline-block;
}

.red {
    background-color: #FF2222;
}

.green {
    background-color: #00AA00;
}

.blue {
    background-color: #4444FF;
}

.red.green {
    background-color: #DD8800;
}

.red.blue {
    background-color: #CC00CC;
}

.green.blue {
    background-color: #0077AA;
}

.red.green.blue {
    background-color: #996633;
}

.highlight {
    background-color: #FFFF00;
}

.highlight.light {
    background-color: #FFFF99;
}

.highlight.red {
    background-color: #FF7777;
}

.highlight.green {
    background-color: #00FF00;
}

.highlight.blue {
    background-color: #2299FF;
}

.highlight.red.green {
    background-color: #FFAA44;
}

.highlight.red.blue {
    background-color: #FF44FF;
}

.highlight.green.blue {
    background-color: #00FFFF;
}

.highlight.red.green.blue {
    background-color: #BB9966;
}

#game-board div {
    height: 90%;
    width: 90%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

#game-board div.station {
    background-color: black;
    border-radius: 50%;
    visibility: visible;
}

#game-board div.station div{
    background-color: white;
    border-radius: 50%;
    visibility: visible;
}

#turns {
    float: left;
}

#cards,#population {
    float: right;
}

#game-board table {
    display: inline-block;
}

#game-board tbody {
    box-shadow: 0 0 0 1px black;
}

#game-board td {
    height: 25px;
    width: 25px;
    box-shadow: 0 0 0 1px gray;
}

#game-board td.highlight {
    box-shadow: 0 0 0 2px #DDDD00;
}